<div class="container mx-auto px-4 lg:px-8 my-20 max-w-screen-lg">
  <h1 class="text-2xl font-bold my-4">利用規約</h1>
  <p class="mb-4">
    この利用規約（以下、「本規約」といいます。）は、本サービスの利用条件を定めるものです。<br>
    登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。
  </p>

  <h2 class="text-xl font-bold mb-4">第1条（適用）</h2>
  <p class="mb-4">
    本規約は、ユーザーと管理者との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>
    管理者は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。<br>
    これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。<br>
    本規約の規定が個別規定と矛盾する場合には、特段の定めがない限り、個別規定の規定が優先されるものとします。
  </p>

  <h2 class="text-xl font-bold mb-4">第2条（利用登録）</h2>
  <p class="mb-4">
    本サービスにおいては、登録希望者が本規約に同意の上、管理者の定める方法によって利用登録を申請し、管理者がこれを承認することによって、利用登録が完了するものとします。<br>
    管理者は、利用登録申請者に以下の事由があると判断した場合、承認しないことがあります。<br>
    ・虚偽の事項を届け出た場合<br>
    ・規約違反歴がある場合<br>
    ・その他、管理者が相当でないと判断した場合
  </p>

  <h2 class="text-xl font-bold mb-4">第3条（ユーザーIDおよびパスワードの管理）</h2>
  <p class="mb-4">
    ユーザーは、自己責任で、ユーザーIDおよびパスワードを管理します。<br>
    管理者は、ログイン情報が一致した場合、その利用はユーザー本人によるものとみなします。<br>
    第三者による不正利用による損害は、管理者に重大な過失がある場合を除き、責任を負いません。
  </p>

  <h2 class="text-xl font-bold mb-4">第4条（禁止事項）</h2>
  <p class="mb-4">
    ユーザーは、以下の行為をしてはなりません。<br>
    ・法令や公序良俗に違反する行為<br>
    ・犯罪行為に関連する行為<br>
    ・知的財産権を侵害する行為<br>
    ・サーバーやネットワーク機能を妨害する行為<br>
    ・その他、管理者が不適切と判断する行為
  </p>

  <h2 class="text-xl font-bold mb-4">第5条（本サービスの提供の停止等）</h2>
  <p class="mb-4">
    管理者は、以下の場合、事前通知なくサービスの全部または一部を停止できるものとします。<br>
    ・システムの保守、更新<br>
    ・不可抗力による提供困難<br>
    ・その他、管理者が停止を必要と判断した場合
  </p>

  <h2 class="text-xl font-bold mb-4">第6条（利用制限および登録抹消）</h2>
  <p class="mb-4">
    管理者は、以下の場合に利用制限または登録抹消を行うことができます。<br>
    ・規約違反があった場合<br>
    ・虚偽の申告があった場合<br>
    ・その他、管理者が不適当と判断した場合
  </p>

  <h2 class="text-xl font-bold mb-4">第7条（退会）</h2>
  <p class="mb-4">
    ユーザーは、管理者の定める手続きにより退会することができます。<br>
    （退会手続きは開発中のため、お問い合わせよりご連絡ください。）
  </p>

  <h2 class="text-xl font-bold mb-4">第8条（保証の否認および免責事項）</h2>
  <p class="mb-4">
    管理者は、本サービスに瑕疵がないことを保証しておりません。<br>
    管理者の過失による損害を除き、一切の責任を負いません。
  </p>

  <h2 class="text-xl font-bold mb-4">第9条（サービス内容の変更等）</h2>
  <p class="mb-4">
    管理者は、事前通知をもって、本サービスの内容を変更、追加または廃止することができます。
  </p>

  <h2 class="text-xl font-bold mb-4">第10条（利用規約の変更）</h2>
  <p class="mb-4">
    管理者は、以下の場合にはユーザーの同意を得ずに本規約を変更することができます。<br>
    ・ユーザーの利益に適合するとき<br>
    ・合理的な変更が必要なとき
  </p>

  <h2 class="text-xl font-bold mb-4">第11条（個人情報の取扱い）</h2>
  <p class="mb-4">
    管理者は、本サービスの利用によって取得する個人情報を適切に取り扱います。
  </p>

  <h2 class="text-xl font-bold mb-4">第12条（通知または連絡）</h2>
  <p class="mb-4">
    ユーザーと管理者との通知や連絡は、管理者の定める方法で行います。<br>
    通知や連絡が発信された時点で、ユーザーに到達したものとみなされます。
  </p>

  <h2 class="text-xl font-bold mb-4">第13条（権利義務の譲渡の禁止）</h2>
  <p class="mb-4">
    ユーザーは、管理者の書面による事前承諾なく、権利や義務を第三者に譲渡できません。
  </p>

  <h2 class="text-xl font-bold mb-4">第14条（準拠法・裁判管轄）</h2>
  <p class="mb-4">
    本規約の解釈においては、日本法を準拠法とします。<br>
    本サービスに関する紛争については、管理者の本店所在地を管轄する裁判所を専属的合意管轄とします。
  </p>
</div>
