<%= search_form_for q, url: url, method: :get do |f| %>
  <div data-controller="search" class="relative">
    <%= f.text_field :recipe_name_or_body_or_course_related_menus_menu_name_or_arrange_related_menus_menu_name_or_pairing_related_menus_menu_name_or_tags_name_cont_all, 
        data: { search_target: "input", action: "input->search#search" },
        value: params.dig(:q, 'recipe_name_or_body_or_course_related_menus_menu_name_or_arrange_related_menus_menu_name_or_pairing_related_menus_menu_name_or_tags_name_cont_all'),
        placeholder: "スペース区切りでキーワード検索",
        class: "input input-bordered w-auto" %>

    <ul data-search-target="results" class="search-results absolute dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow hidden"></ul>
    <%= f.submit '検索', class: 'btn btn-primary' %>
  </div>
<% end %>
