<div class="form-group" id="menu-fields-container">
  <%= cocooned_container do %>
    <%= f.fields_for :arrange_menus do |menu_fields| %>
      <div class="menu-field">
        <%= render 'arrange_menu_fields', f: menu_fields %>
      </div>
    <% end %>
    <%= cocooned_add_item_link 'Add an item', f, :arrange_menus, layout: false, class: "btn btn-primary" %>
  <% end %>
</div>
