<%= f.label :menu_id, "メニュー" %><br>
<%= f.collection_select :menu_id, Menu.all, :id, :menu_name, { include_blank: true }, { class: "form-control" } %>
<a href="#" class="remove-menu-button btn btn-danger">削除</a>