<div class="mt-16 mb-16">
  <div>
    <h1>投稿一覧</h1>
    <%= render 'shared/search_form', q: @q %>
  </div>
  <div>
     <%= render @posts %>
  </div>
  <div>
    <%= paginate @posts %>
  </div>
  <div>
    <%= link_to 'TOPへ戻る', root_path %>
  </div>
</div>