<div class="mx-auto text-center">
  <%= render 'shared/search_form', q: @q, url: likes_posts_path %>
  <div>
    <% if @like_posts.present? %>
      <%= render @like_posts %>
    <% else %>
      <p>いいねしてません</p>
    <% end %>
  </div>

  <div>
    <%= paginate @like_posts %>
  </div>

  <div>
    <%= link_to 'TOPへ戻る', root_path %>
  </div>
</div>