@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px white;
  }
}

footer {
  position: absolute; /* または absolute */
  z-index: 10; /* 数値は適宜調整 */
}

.swiper {
  width: 100%;
  max-width: 640px; /* 最大幅を640pxに固定 */
  margin: 0 auto; /* スライダー全体を中央揃え */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  width: 100%; /* スライドの幅に画像をフィット */
  max-width: 640px; /* 画像の最大幅を640pxに固定 */
  height: auto; /* アスペクト比を維持 */
  object-fit: contain;
}

@media (max-width: 640px) {
  .swiper {
    max-width: 100%; /* モバイルなどの小さい画面では100%に拡大 */
  }

  .swiper-slide img {
    max-width: 100%; /* 画像の幅を画面にフィットさせる */
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #333;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px; /* 矢印のサイズを小さくする */
}

.swiper-button-next {
  right: -30px; /* 矢印を右に外側に配置 */
}

.swiper-button-prev {
  left: -px; /* 矢印を左に外側に配置 */
}

.swiper-slide {
  padding: 20px; /* スライド内コンテンツの余白を確保 */
}


.autocomplete-results {
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff; /* 背景色を白に設定 */
  position: absolute; /* 絶対位置指定 */
  z-index: 10; /* 他の要素の上に表示 */
  width: 100%; /* 入力フィールドと同じ幅 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
  border-radius: 4px; /* 角を丸くする */
  margin-top: 0.2rem; /* 入力フィールドとの間隔 */
}

.autocomplete-item {
  padding: 0.5rem;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

/* Autocomplete results container */
[data-autocomplete-target="results"] {
  position: absolute; /* 絶対位置指定 */
  top: 100%; /* 入力フィールドの下に配置 */
  left: 0; /* 入力フィールドと同じ幅に配置 */
}

/* Autocomplete result item */
[data-autocomplete-target="results"] li {
  padding: 0.5rem;
  cursor: pointer;
}

/* Hover state */
[data-autocomplete-target="results"] li:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
  color: #333; /* ホバー時の文字色 */
}


.search-results {
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff; /* 背景色を白に設定 */
  position: absolute; /* 絶対位置指定 */
  z-index: 10; /* 他の要素の上に表示 */
  width: 100%; /* 入力フィールドと同じ幅 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
  border-radius: 4px; /* 角を丸くする */
  margin-top: 0.2rem; /* 入力フィールドとの間隔 */
}

.search-item {
  padding: 0.5rem;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f0f0f0;
}

/* search results container */
[data-search-target="results"] {
  position: absolute; /* 絶対位置指定 */
  top: 100%; /* 入力フィールドの下に配置 */
  left: 0; /* 入力フィールドと同じ幅に配置 */
}

/* search result item */
[data-search-target="results"] li {
  padding: 0.5rem;
  cursor: pointer;
}

/* Hover state */
[data-search-target="results"] li:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
  color: #333; /* ホバー時の文字色 */
}

.search-results.show {
  display: block; /* 結果がある場合に表示する */
}